.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
.arts/**
*.sh
**/tsconfig.json
**/.eslintrc.json
**/*.d.ts
**/*.d.ts.map
**/*.map
**/*.ts
**/node_modules/**/test/**
**/node_modules/**/tests/**
**/node_modules/**/__tests__/**
**/node_modules/**/example/**
**/node_modules/**/examples/**
**/node_modules/**/benchmark/**
**/node_modules/**/bench/**
**/node_modules/**/docs/**
**/node_modules/**/doc/**
**/node_modules/**/.github/**
**/node_modules/**/*.md
**/node_modules/**/*.markdown
test/**
scripts/**
webview/**
docs/**
测试/**
